@media only screen and (min-width: 480px)  and (max-width: 1024px) {
    #head{
      width: 100%;
      background-color: green;
    }
    #logo{
      width: 15%;
    }
}
@media only screen and (min-device-width: 600px) and (min-width: 600px) {
     body{
          background-color: gold;
     }
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
     body{
          background-color: yellow;
     }
}
