html *
{
   font-size: 20px !important;
   scroll-behavior: smooth !important;
}

.sidebar {
  height: 0%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  margin-left: 10px;
  max-width: 800px;
  margin-right: 20px;
  position:inherit; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: -10;
  background-color: rgb(239, 239, 239);
  overflow-x: hidden;
  padding-top: 0px;
  transition: 1s;
  border-radius: 15px;
}

a:link { text-decoration: none; color: rgb(27, 153, 207) !important}
a:visited { text-decoration: none; color: rgb(27, 153, 207) !important}
a:active { text-decoration: none; color: rgb(27, 153, 207) !important}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 300x;
  margin-left: 0px;
}

/* The button used to open the sidebar */
.openbtn {
  position:sticky;
  font-size: 30px;
  cursor: pointer;
  background-color: white;
  color: #111;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: rgb(234, 234, 234);
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.nav_link{
  padding-top: 5px;
  height: 40px;
  width: 60%;
  margin-left: 30px;
  max-width: 700px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgb(216, 216, 216);
  padding-top: -10px;
  text-align: center;
}
