#notify{
     display: none;
     position: fixed;
     min-height: 700px;
     z-index: 1;
     left: 0;
     top: 20;
     width: 80%;
     border-radius: 25px;
     overflow: auto;
     max-height: 1000px;
     max-width: 750px;
     background-color: rgb(237, 237, 237);
     padding: 20px;
     margin-left: 40px;
 }