.section {
     padding: 0.5rem 2rem 0.5rem 2rem;
}
table {
     display:inline;
     margin:0px;
     padding:0px;
}
.sidebar {
     background-color: rgb(170, 160, 160);
     height: 100vh;
     padding: 20px;
}

.sidebar h2 {
     margin-top: 5px;
}
.input{
     border-radius: 25px;
     border: 2px solid rgb(224, 224, 224);
     padding: 10px; 
     width: 600px;
     height: 5px;
     padding-bottom: 5%;

}
.div{
     position: absolute;
     bottom: 30px;
     width: 50%;
}
span{
     display: flex;
}