{% extends "layout.html" %}

{% block body %}
<style>
    span{
        margin-left: 40px;
    }
</style>
     <div style="margin-left: 5%; padding: 10px 10px 10px 10px">
          <h1 style="font-size: 40px !important">About Click Chat</h1>
          <p>
                <span></span>Click Chat is an instant messaging application developed and designed by Opeoluwa Adeyeri. Click chat started as a final project for
                an online intro to computer science course CS50X.<br> At first Click chat was designed to only support two users, But as time went on and the Developer gathered
                more knowledge abourt web development the structure and features of click chat skyrocketed.
          </p>
          <p>
                <span></span>Click chat is built on Flask Framework and Utilizes languages like Python, SQLite, HTML, CSS, JavaScript and a web template engine Jinja.<br>
                This amazing messenger refreshes by the second connecting users across the world at astonishing speed.
          </p>
          <p>
                <span></span>Currently Click Chat is under development and is getting new features every now and then but Sooner or later Click Chat would take
                its place among the most used instant messaging networks in the world.
          </p>
          <h3 style="font-size: 40px !important">Opeoluwa Adeyeri</h3>
          <p><span></span>I am Opeoluwa Adeyeri, a recent high school graduate interested in solving real live problems using Artificial Intelligence.  I developed interest in technology due to its tendency to improve quality of life by saving time and innovation among others.<br></p>
          <p><span></span>During high school, I envisioned improvement in various aspects of studying through comprehensive use of technology, which sparked my interest in technological developments and its application through artificial intelligence and it’s use to improve productivity.<br></p>
          <p><span></span>Shortly after I graduated from high school, I participated in various Harvard CS50 Courses such as CS50X, CS50P and so on.  Over the course of which I learnt several computer programming paradigms, languages, and frameworks.<br></p>
          <p><span></span>Upon completion of the course. I developed interest in full stack development using languages like Python, SQL and frameworks like HTML and Flask utilizing them on several projects, which include mobile contact saver and instant messaging web based applications among others.<br></p>
          <p><a href="https://github.com/hardope">Find Me on Github</a></p>
     </div>
{% endblock %}