{% extends "layout3.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
{% block body %}
<link rel="stylesheet" href="/static/chat.css">
<script src="/static/chat_time.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
        let username = "{{username}}"
        var list;
        var newlist;
        let url = window.location.origin

        let request = new XMLHttpRequest();
        request.open("GET", url + "/api/{{recipient}}");
        request.send();
        request.onload = () => {
            if (request.status === 200) {
                let body = document.querySelector('#body');
                list = JSON.parse(request.response);
                newlist = list;
                for (let obj of JSON.parse(request.response)) {
                    if (obj[1] === username ) {
                            var tag = document.createElement('p');
                            tag.textContent = obj[3]
                            tag.setAttribute('class', 'from-me margin-b_none')
                            tag.setAttribute('style', 'font-size: 20px;')
                            body.appendChild(tag);
                            var date = document.createElement('small')
                            date.textContent = get_time(obj[4])
                            date.setAttribute('style', 'text-align: right; font-size: 15px !important')
                            body.appendChild(date)
                    } else {
                            var tag = document.createElement('p');
                            tag.textContent = obj[3]
                            tag.setAttribute('class', 'from-them')
                            tag.setAttribute('style', 'font-size: 20px;')
                            body.appendChild(tag);
                            var date = document.createElement('small')
                            date.textContent = get_time(obj[4])
                            date.setAttribute('style', 'text-align: left; font-size: 15px !important')
                            body.appendChild(date)
                    }
                }
                window.scrollTo(0, 10000);
            }
        }
        function refresh() {
            let request = new XMLHttpRequest();
            request.open("GET", url + "/api/{{recipient}}");
            request.send();
            request.onload = () => {
                if (request.status === 200) {
                    newlist = JSON.parse(request.response);
                    if (newlist.length > list.length){
                        var count = newlist.length - list.length;
                        for (let i = list.length -1; i < newlist.length-1; i++){
                            if (newlist[i+1][1] === username ) {
                                var tag = document.createElement('p');
                                tag.textContent = newlist[i+1][3];
                                tag.setAttribute('class', 'from-me')
                                tag.setAttribute('style', 'font-size: 20px;')
                                body.appendChild(tag);
                                var date = document.createElement('small')
                                date.textContent = get_time(newlist[i+1][4]);
                                date.setAttribute('style', 'text-align: right; font-size: 15px !important')
                                body.appendChild(date)
                            } else{
                                var tag = document.createElement('p');
                                tag.textContent = newlist[i+1][3];
                                tag.setAttribute('class', 'from-them')
                                tag.setAttribute('style', 'font-size: 20px;')
                                body.appendChild(tag);
                                var date = document.createElement('small')
                                date.textContent = get_time(newlist[i+1][4]);
                                date.setAttribute('style', 'text-align: left; font-size: 15px !important')
                                body.appendChild(date)
                            }
                        }
                        list = newlist;
                        window.scrollTo(0, 10000);
                    }
                }
            }
        }
        setInterval(refresh, 1000);
        document.querySelector('#submit').disabled = true;

        document.querySelector('#message').onkeyup = () => {
            if (document.querySelector('#message').value.length > 0){
                document.querySelector('#submit').disabled = false;
            }
            else {
                document.querySelector('#submit').disabled = true;
            }
        }
        document.querySelector('#form').onsubmit = () => {
            let message = document.querySelector('#message').value;
            let newmessage = new XMLHttpRequest();
            var formdata = new FormData()
            formdata.append("message", message)
            newmessage.open("POST", url + "/messages/{{recipient}}");
            newmessage.send(formdata);
            document.querySelector('#message').value = '';
            document.querySelector('#submit').disabled = true;
            return false
        }
    });
    </script>
    <center>
        <a href="/profile/{{recipient}}">
            <div style="display: inline-flex">
                    <img src="/static/favicon.ico" style="border-radius: 50%; width:60px; height: 60px; overflow: hidden;">
                    <h2 style="margin-left: 30px;">{{ recipient }}</h2>
            </div>
        </a>
    </center>
    <div id="body" class="imessage">

    </div>
    <form id="form">
        <div class="div">
            <input type="text" style="margin-bottom: 30px; padding: 10px; border: none; margin-left: 40px; background-color: rgb(221, 221, 221); border-radius: 15px; width: 500px; height: 50px" name="message" id="message" autocomplete="off" aria-autocomplete="none" autofocus>
            <button type="submit" id="submit" style="border: none; border-radius: 15px; width: 70px; height: 40px; background-color: rgb(221, 221, 221);">Send</button>
        </div>
    </form>
{% endblock %}