{% extends "layout.html" %}
</script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
{% block body %}
    <script src="index.js">
    </script>
    <h3 style="text-indent: 50%;" id="recipient">{{ recipient }}</h3>
    <p style="text-indent: 80%;">Logged in as {{ username }}</p>
    <div id="body">
        
    </div>
    <form id="form">
        <div class="div">
            <input type="text" name="message" id="message" class="input" autocomplete="off" aria-autocomplete="none" autofocus>
            <input id="submit" type="submit" value="Send">
        </div>
    </form>
{% endblock %}

