{% extends "layout.html" %}

      <meta name="viewport" content="initial-scale=1, width=device-width">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block body %}
<script>
    function validate(){
          if(document.getElementById("pic").value != "") {
                let label = document.getElementById("pic_label")
                label.style.background = "green";
          }
    }
</script>
<style>
    #button{
        font-size: 60px;
        color: black;
        border: 0ch;
        margin-bottom: 2%;
        border-radius: 10px 10px 10px 10px;
        width: 200px;
        height: 50px;
    }
    label {
          padding: 10px;
          background-color:  rgb(239, 237, 237);
          border-radius: 10px;
     }
     #label_cont{
          margin: 30px 0px 20px 0px;
     }
</style>
    <center>
          {% if img == 0 %}
               <img src="/static/favicon.ico" style="border-radius: 50%; width:10%">
          {% else %}
               <img src="/static/{{pic}}" style="border-radius: 50%; width:30%">
          {% endif %}
          <br>
          <br>
    </center>
        <form action = "/me/{{username}}" method = "post" enctype="multipart/form-data">
            <center>
                About
                    <textarea required name="about" maxlength="100" style="width:500px; padding: 10px; height: 200px; border-radius: 20px;">{{about}}</textarea>
            </center>
            <span style="margin-bottom: 40px;"></span>
            {% if gender == 0 %}
                <input type="radio" id="male" name="gender" value="male" checked='checked' style="padding: 10px; margin-left: 10%;">
                <label for="male" style="background-color: white !important;">Male</label><br>
                <input type="radio" id="female" name="gender" value="female" style="margin-left: 10%;">
                <label for="female" style="background-color: white !important;">Female</label><br>
                <br>
            {% elif gender == 1 %}
                <input type="radio" id="male" name="gender" value="Male" style="margin-left: 10%;">
                <label for="male" style="background-color: white !important;">Male</label><br>
                <input type="radio" id="female" name="gender" value="Female" checked='checked' style="margin-left: 10%;">
                <label for="female" style="background-color: white !important;">Female</label><br>
            {% else %}
                <input type="radio" id="male" name="gender" value="Male" style="margin-left: 10%;">
                <label for="male" style="background-color: white !important;">Male</label><br>
                <input type="radio" id="female" name="gender" value="Female" style="margin-left: 10%;">
                <label for="female" style="background-color: white !important;">Female</label><br>
            {% endif %}
            <center>
                <input type="file" id="pic" onchange="validate()" name="pic" accept="image/*" value="" hidden>
            <div id="label_cont">
                  <label for="pic" id="pic_label">Upload Picture &#128206;</label>
            </div>
            </center>
        <center>
            <button  type="submit" id='button' data-mdb-ripple-color="dark" style="font-size: 60px; color: black; border: 0ch; margin-bottom: 2%; border-radius: 10px 10px 10px 10px;  width: 200px; height: 50px;">Update Profile</button>
        </center>
      </form>
        <center>
            <a href="/change_username"><button  type="submit" id='button' style=" margin-right: 10px;">Change Username</button></a>
            <a href="/ch_password"><button  type="submit" id='button'>Change Password</button></a>
            <a href="/security"><button  type="submit" id='button'>Security Questions</button></a>
        </center>
{% endblock %}