{% extends "layout.html" %}

{% block body %}
     <div style="margin-left: 10%;">
          <h1>Current Features</h1>
          <ul>
               <li>Instant Messaging (refreshes by the second)</li>
               <li>Cloud Based (low storage)</li>
               <li>No ads</li>
          </ul>
          <h1>Coming Features</h1>
          <ul>
               <li>New Message Notifications</li>
               <li>Read Receipts</li>
               <li>Typing Status</li>
               <li>Status Viewing And Posting</li>
          </ul>
     </div>
{% endblock %}