{% extends "layout.html" %}

{% block body %}
     <div style="margin-left: 10%; text-size: 20px;">
          <h1 style="font-size: 40px !important">Current Features</h1>
          <ul>
               <li>Instant Messaging (refreshes by the second)</li>
               <li>Cloud Based (low storage)</li>
               <li>No ads</li>
               <li>Unread messages Notification Dot</li>
               <li>Profile Viewing And Editing</li>
               <li>Creating Post</li>
               <li>Changing Username And Password</li>
          </ul>
          <h1 style="font-size: 40px !important">Coming Features</h1>
          <ul>
               <li>Read Receipts</li>
               <li>Typing Status</li>
               <li>Like Button And Comment Section</li>
               <li>Last seen</li>
          </ul>
     </div>
{% endblock %}