{% extends "layout.html" %}

      <meta name="viewport" content="initial-scale=1, width=device-width">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block body %}
<script src="/static/like.js"></script>
<link rel="stylesheet" href="/static/posts.css">
<script src="/static/view_likes.js"></script>

    <div id="like_viewer" style="margin-top: 30px;">
        <span id="close" onclick="close_likes()">&times;</span>
        <div id="viewer_body">

        </div>
    </div>
    <center>
        {% if img == "pic" %}
            <img src="/static/favicon.ico" style="border-radius: 50%; width:20%;">
        {% else %}
            <a href="/static/{{pic}}"><img src="/static/{{pic}}" style="border-radius: 50%; width:30%;"></a>
        {% endif %}
        {% if data == [] %}
            <h1 style="font-size: 30px !important">{{user}}</h1>
            <p>No Information</p>
        {% else %}
            <h4 style="font-size: 30px !important">{{data[0][0]}}</h4>
            <p>{{data[0][1]}}</p>
            <h4>About {{data[0][0]}}</h4>
            <p>{{data[0][2]}}</p>
        {% endif %}
    </center>

    {% if username == user %}
        <form action="/me/{{user}}">
            <button  type="submit" id='button' class="btn btn-outline-light" data-mdb-ripple-color="dark" style="text-size: 60px; color: black; border: 0ch; margin-bottom: 2%; margin-left: 35%; border-radius: 10px 10px 10px 10px;  width: 200px; height: 50px;">Edit Profile</button>
        </form>
    {% else %}
        <form action="/chat/{{user}}">
            <button  type="submit" id='button' class="btn btn-outline-light" data-mdb-ripple-color="dark" style="text-size: 60px; color: black; border: 0ch; margin-bottom: 2%; margin-left: 35%; border-radius: 10px 10px 10px 10px;  width: 200px; height: 50px;">Message</button>
        </form>
    {% endif %}
    {% for i in posts %}
    <div class="name_container">
        <a class="a" href="/profile/{{i[1]}}" style="display: inline-flex">
            <img src="/static/favicon.ico" style="width: 50px; border-radius: 25px; margin-top: 20px; margin-left: 0px">
            <div style="margin-left: 10px; margin-top: 30px;">
                {{i[1]}}
            </div>
        </a>
    </div>
        <div class="div">
            {{i[2]}}
        </div>
        {% if i[7] == "True" %}
            <a href="/static/{{i[0]}}.jpg">
                <img src="/static/{{i[0]}}.jpg">
            </a>
        {% else %}
            {% if i[7] == "video" %}
                <video src="/static/{{i[0]}}.mp4" controls loop preload="auto"></video>
            {% endif %}
        {% endif %}
        <div class="container">
             <p class="react" value="{{i[5]}}" id="{{i[0]}}" onclick="like({{i[0]}})">{{i[4]}}</p>
             <a href="/comment/{{i[0]}}"><p class="comment">{{i[6]}} 💬</p></a>
             <p class="v_like" onclick="view_likes({{i[0]}})">📊</p>
        </div>
    {% endfor %}
{% endblock %}}